# main control flag
enable_primus_turbo: false

# feature control flags
use_turbo_attention: false
use_turbo_parallel_linear: false
use_turbo_grouped_mlp: false
moe_use_fused_router_with_aux_score: false

# inner features flags
enable_turbo_attention_float8 : false


# deepep
use_turbo_deepep: false
turbo_deepep_num_cu: 32
turbo_deepep_use_comm_stream: false

# sync-free moe
turbo_sync_free_moe_stage: 0

# group-gemm
grouped_gemm_backend: "turbo-gg" # turbo-gg, lagacy-gg

# use turbo fused activation_with_probs to optmize redundant computation
use_turbo_fused_act_with_probs: false
